/* Below Css is for mobile devices .. following mobile first aproach*/
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  font-family: cursive !important;
  font-weight: bold;
  font-size: 2.8vmin;
  display: flex;
}

root{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* ----- navbar css ----- */
.navbar {
  height: 7.5vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(147, 149, 243);
  display: flex;
  align-items: center;
  contain: strict;
  padding: 0;
  margin-bottom: 5%;
  font-size: 4.5vmin;
}
.navbar:hover {
  cursor: pointer;
}

.navbar-img {
  height: 70%;
  margin: 0 2% 0 6%;
}

/* ----- album list css ----- */
.album-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5% 1.2%;
  width: 80%;
  height: 13vw;
  max-height: 17vw;
  min-height: 11vh;
  margin: auto;
  background-color: rgb(238, 232, 232);
  border-radius: 15px;
  box-shadow: 0px 1px 5px rgb(175, 173, 173);
}

.album-form-heading {
  margin: 0;
  height: 50%;
  padding: 0 1%;
}

.album-form-input {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
  padding: 0 1%;
}

.album-form-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  min-width: 80px;

  .album-form-clear {
    background-color: rgb(235, 91, 81);
    color: white;
  }

  .album-form-create {
    background-color: rgb(77, 128, 238);
    color: white;
  }
}

.album-list-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.album-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
}

.album-list-header-btn {
  font-size: 2vmin;
  padding: 1% 0.5%;
  width: 12vw;
  background-color: rgba(5, 53, 246, 0.2);
  color: blue;
  font-weight: bold;
  border-color: blue;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-list-body {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  max-height: 60vh;
  overflow-x:hidden;
  overflow-y:auto; 
  padding: 2% 8%;
  align-self: center;
}
.album-list-body::-webkit-scrollbar {
  display: none;
}

.album-card {
  max-width: 100%;
  min-width: 50%;
  min-height: 29vh;
  max-height: 40vh;
  border-radius: 8px;
  background-color: rgb(215, 208, 208);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1%;

  .album-card-img {
    width: 85%;
    height: 75%;
    contain: strict;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 8px; */

  }

  .album-card-title {
    width: auto;
    height: 15%;
    font-size: 3.3vmin;
  }
}

.album-card:hover {
  background-color: rgb(99, 171, 253);
  color: white;
  cursor: pointer;
}

.album-card-img img {
  contain: strict;
  height: 100%;
  width: 90%;
}


/* --------------- Image List CSS ---------------- */

.carousel {
  height: 70vh;
  width: 80vw;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(-10%);

  .csl-img {
    height: 3.2vw;
    width: 3.2vw;
    align-self: flex-end;
  }
  .csl-viewer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 60vw;
    min-height: 60vh;

    .csl-btn {
      height: 3.5vw;
      width: 3.5vw;
    }

    .csl-vwr-img {
      padding: 1%;
      min-width: 60vw;
      min-height: 60vh;
      max-width: 61vw;
      max-width: 61vh;
    }

  }
}
/* IMAGE FORM*/

.image-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5% 1.2%;
  width: 80%;
  height: 15vw;
  max-height: 25vw;
  min-height: 12vh;
  margin: auto;
  background-color: rgb(238, 232, 232);
  border-radius: 15px;
  box-shadow: 0px 1px 5px rgb(175, 173, 173);
  margin-bottom: 5%;

  .image-form-heading {
    margin: 0;
    height: 25%;
    padding: 0 1%;
  }

  .image-form-input {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 1%;

    .image-form-btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 30%;
      min-width: 80px;

      .image-form-clear {
        background-color: rgb(235, 91, 81);
        color: white;
      }

      .image-form-add {
        background-color: rgb(77, 128, 238);
        color: white;
      }
    }
  }

}

.image-form-input input {
  height: 30%;
}

/*IMAGE LIST*/

.image-list-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .image-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2%;

    .return-name {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 40%;

      .return-to-albums {
        width: 20%;
        contain: strict;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .search-addImage {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 50%;

      .search {
        width: 10%;
        contain: strict;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2.5%;
      }

      .image-list-header-btn {
        font-size: 2.5vmin;
        padding: 1%;
        width: 17vw;
        background-color: rgba(5, 53, 246, 0.2);
        color: blue;
        font-weight: bold;
        padding: 0.5% 1%;
        border-color: blue;

      }
    }

  }

  .image-list-body {
    width: 65%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2%;
    max-height: 60vh;
    overflow-x:hidden;
    overflow-y:auto;
    scrollbar-width: 0px;
    padding: 2% 8%;
    align-self: center;
  }
}
.image-list-body::-webkit-scrollbar {
  display: none;
}


.image-list-container img {
  height: 100%;
  width: 100%;
}

.return-to-albums img {
  height: 60%;
  width: 90%;
}

.image-card {
  max-width: 100%;
  min-width: 50%;
  min-height: 29vh;
  max-height: 40vh;
  background-color: rgb(215, 208, 208);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1% 0px;
  flex-grow: 1;
  padding: 1% 0px;

  .image-card-btn {
    /* transform: translate3d(270% 50% 50%); */
    /* display: none; */
    height: 0;
    width: 0;
    display: flex;
    visibility: hidden;
    
    .img {
      height: 20px ;
      width: 20px ;
      align-self: flex-end !important;
      translate: 23vw 5px ;
    }
  }

  .image-card-img {
    width: 85%;
    height: 80%;
    contain: strict;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .image-card-title {
    width: auto;
    height: 10%;
    font-size: 2.5vmin;
  }
}

.image-card:hover {
  background-color: rgb(99, 171, 253);
  color: white;
  cursor: pointer;
  .image-card-btn {
    visibility: visible;
  }
}



@media only screen and (min-width: 992px) {
  .navbar {
    height: 10vh;
  }

  .image-list-header,
  .album-list-header {
    padding: 0.5% 2% !important;
  }

  .image-list-body,
  .album-list-body {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    width: 85% !important;
  }

  .return-name {
    justify-content: flex-start !important;
  }

  .image-list-header-btn,
  .album-list-header-btn {
    font-size: 2.5vmin !important;
    max-width: 20vmin;
    min-width: auto !important;
  }

  .search {
    width: 5% !important;
  }

  .return-to-albums {
    width: 7% !important;
    margin-right: 2%;
  }
  .img {
    height: 25px !important;
    width: 25px !important;
    translate: 6vw 5px!important;
  }

  





  /* .album-list-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .album-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .album-list-header-btn {
    font-size: 1.6vh;
    width: 10%;
    padding: 1% 0.5%;
    background-color: rgba(5, 53, 246, 0.2);
    color: blue;
    font-weight: bold;
    border-color: blue;
  }

  .navbar {
    height: 7.5vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(147, 149, 243);
    display: flex;
    align-items: center;
    contain: strict;
    padding: 0 3%;
    margin-bottom: 2%;
  }

  .navbar-img {
    height: 70%;
    margin: 0 0.5%;
  }

  .album-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5% 1.2%;
    width: 50%;
    height: 13.5vh;
    margin: auto;
    background-color: rgb(238, 232, 232);
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgb(175, 173, 173);
  }

  .album-form-heading {
    margin: 0;
    height: 50%;
  }

  .album-form-input {
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
  }

  .album-form-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
  } */
}


.album-form-input input {
  width: 80%;
}

input {
  border-radius: 30px;
  padding: 0.1% 2%;
  border: none;
  width: 70%;
  height: 30%;
  font-size: 2.8vmin !important;
}

button {
  width: 6vw;
  font-size: 2.5vmin;
  min-width: 45%;
  border-radius: 10px;
}

button:hover {
  border: 2px solid rgb(147, 120, 190);
  scale: 1.05;
}